body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-mulish: Mulish;

    /* font sizes */
    --font-size-xs-6: 0.725rem;
    --font-size-sm-3: 0.831rem;
    --font-size-base: 1rem;
    --font-size-sm-6: 0.85rem;
    --font-size-base-6: 0.975rem;
    --font-size-base-5: 0.969rem;
    --font-size-sm: 0.875rem;
    --font-size-base-3: 0.956rem;
    --font-size-sm-9: 0.869rem;
    --font-size-sm-7: 0.856rem;
    --font-size-sm-5: 0.844rem;
    --font-size-base-8: 0.988rem;
    --font-size-sm-8: 0.863rem;
    --font-size-base-4: 0.963rem;
    --font-size-17xl: 2.25rem;
    --font-size-10xl: 1.813rem;
    --font-size-3xl: 1.375rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.188rem;
    --font-size-mini-9: 0.931rem;
    --font-size-base-9: 0.994rem;
    --font-size-9xl: 1.75rem;
    --font-size-2xl: 1.313rem;
    --font-size-smi-9: 0.806rem;
    --font-size-smi: 0.813rem;

    /* Colors */
    --color-white: #fff;
    --color-lavender-100: #dfe3ff;
    --color-darkgray: #979797;
    --color-black: #000;
    --color-midnightblue: #40196d;
    --color-gray-100: #fbfbfb;
    --color-gray-200: rgba(255, 255, 255, 0);
    --color-gainsboro: rgba(220, 220, 224, 0.5);

    /* Gaps */
    --gap-61xl: 5rem;
    --gap-21xl: 2.5rem;
    --gap-xl: 1.25rem;
    --gap-mid: 1.062rem;
    --gap-5xl: 1.5rem;
    --gap-mini: 0.937rem;
    --gap-3xs: 0.625rem;
    --gap-6xl: 1.562rem;
    --gap-11xl-4: 1.9rem;
    --gap-mini-3: 0.893rem;
    --gap-36xl: 3.437rem;
    --gap-8xl: 1.687rem;
    --gap-279xl-8: 18.675rem;
    --gap-130xl: 9.312rem;
    --gap-56xl: 4.687rem;

    /* Paddings */
    --padding-5xl: 1.5rem;
    --padding-xl: 1.25rem;
    --padding-11xl: 1.875rem;
    --padding-41xl: 3.75rem;
    --padding-12xs-6: 0.037rem;
    --padding-5xs-4: 0.462rem;
    --padding-mini: 0.937rem;
    --padding-10xs-4: 0.15rem;
    --padding-21xl: 2.5rem;
    --padding-25xl: 2.75rem;
    --padding-20xl: 2.437rem;
    --padding-base-4: 1.025rem;
    --padding-3xl: 1.375rem;
    --padding-6xl: 1.562rem;
    --padding-3xl-1: 1.381rem;
    --padding-7xl: 1.625rem;
    --padding-3xs: 0.625rem;
    --padding-13xl: 2rem;
    --padding-xs: 0.75rem;
    --padding-53xl: 4.5rem;
    --padding-17xl: 2.25rem;
    --padding-9xs: 0.25rem;
    --padding-smi: 0.812rem;
    --padding-11xs-1: 0.068rem;
    --padding-18xl: 2.312rem;
    --padding-31xl: 3.125rem;
    --padding-80xl: 6.187rem;
    --padding-179xl: 12.375rem;
    --padding-base: 1rem;
    --padding-38xl: 3.562rem;
    --padding-68xl-5: 5.468rem;
    --padding-7xs-6: 0.35rem;
    --padding-33xl: 3.25rem;
    --padding-5xs: 0.5rem;
    --padding-2xl-8: 1.362rem;
    --padding-77xl: 6rem;
    --padding-8xs: 0.312rem;
    --padding-6xs: 0.437rem;
    --padding-3xs-4: 0.587rem;
    --padding-3xs-6: 0.6rem;

    /* Border radiuses */
    --br-81xl: 100px;
    --br-8xs: 5px;
    --br-3xs: 10px;
}