@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --sky-blue-bg: #DCFFEB;
    --light-milk-bg: #FFF5DB;
    --nigerian-flag-bg: #eff1ff;


    /* fonts */
    --font-inter: Inter;
    --font-mulish: Mulish;

    /* font sizes */
    --font-size-xs-6: 0.725rem;
    --font-size-sm-3: 0.831rem;
    --font-size-base: 1rem;
    --font-size-sm-6: 0.85rem;
    --font-size-base-6: 0.975rem;
    --font-size-base-5: 0.969rem;
    --font-size-sm: 0.875rem;
    --font-size-base-3: 0.956rem;
    --font-size-sm-9: 0.869rem;
    --font-size-sm-7: 0.856rem;
    --font-size-sm-5: 0.844rem;
    --font-size-base-8: 0.988rem;
    --font-size-sm-8: 0.863rem;
    --font-size-base-4: 0.963rem;
    --font-size-17xl: 2.25rem;
    --font-size-10xl: 1.813rem;
    --font-size-3xl: 1.375rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.188rem;
    --font-size-mini-9: 0.931rem;
    --font-size-base-9: 0.994rem;
    --font-size-9xl: 1.75rem;
    --font-size-2xl: 1.313rem;
    --font-size-smi-9: 0.806rem;
    --font-size-smi: 0.813rem;

    /* Colors */
    --color-white: #fff;
    --color-lavender-100: #dfe3ff;
    --color-lavender-100-light: #eff1ff;
    --color-darkgray: #979797;
    --color-black: #000;
    --color-midnightblue: #40196d;
    --color-gray-100: #fbfbfb;
    --color-gray-200: rgba(255, 255, 255, 0);
    --color-gainsboro: rgba(220, 220, 224, 0.5);

    /* Gaps */
    --gap-61xl: 5rem;
    --gap-21xl: 2.5rem;
    --gap-xl: 1.25rem;
    --gap-mid: 1.062rem;
    --gap-5xl: 1.5rem;
    --gap-mini: 0.937rem;
    --gap-3xs: 0.625rem;
    --gap-6xl: 1.562rem;
    --gap-11xl-4: 1.9rem;
    --gap-mini-3: 0.893rem;
    --gap-36xl: 3.437rem;
    --gap-8xl: 1.687rem;
    --gap-279xl-8: 18.675rem;
    --gap-130xl: 9.312rem;
    --gap-56xl: 4.687rem;

    /* Paddings */
    --padding-5xl: 1.5rem;
    --padding-xl: 1.25rem;
    --padding-11xl: 1.875rem;
    --padding-41xl: 3.75rem;
    --padding-12xs-6: 0.037rem;
    --padding-5xs-4: 0.462rem;
    --padding-mini: 0.937rem;
    --padding-10xs-4: 0.15rem;
    --padding-21xl: 2.5rem;
    --padding-25xl: 2.75rem;
    --padding-20xl: 2.437rem;
    --padding-base-4: 1.025rem;
    --padding-3xl: 1.375rem;
    --padding-6xl: 1.562rem;
    --padding-3xl-1: 1.381rem;
    --padding-7xl: 1.625rem;
    --padding-3xs: 0.625rem;
    --padding-13xl: 2rem;
    --padding-xs: 0.75rem;
    --padding-53xl: 4.5rem;
    --padding-17xl: 2.25rem;
    --padding-9xs: 0.25rem;
    --padding-smi: 0.812rem;
    --padding-11xs-1: 0.068rem;
    --padding-18xl: 2.312rem;
    --padding-31xl: 3.125rem;
    --padding-80xl: 6.187rem;
    --padding-179xl: 12.375rem;
    --padding-base: 1rem;
    --padding-38xl: 3.562rem;
    --padding-68xl-5: 5.468rem;
    --padding-7xs-6: 0.35rem;
    --padding-33xl: 3.25rem;
    --padding-5xs: 0.5rem;
    --padding-2xl-8: 1.362rem;
    --padding-77xl: 6rem;
    --padding-8xs: 0.312rem;
    --padding-6xs: 0.437rem;
    --padding-3xs-4: 0.587rem;
    --padding-3xs-6: 0.6rem;

    /* Border radiuses */
    --br-81xl: 6.25rem;
    --br-8xs: .3125rem;
    --br-3xs: .625rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-size: 20px; */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: "Mulish", sans-serif;
    color: var(--text-color);
    background: var(--primary-white);
}

div.cookie-policy {
    background: #fbfbfb;
    border: .0625rem solid var(--color-lavender-100);
    border-radius: var(--br-3xs);
    padding: .625rem .9375rem;
    box-shadow: 0 0 1.5625rem rgba(0, 0, 0, .06);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem;
    position: fixed;
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);
    width: auto;
    color: #000;

    a {
        color: var(--color-midnightblue);
    }

    button {
        border: none;
        outline: none;
        background-color: var(--color-lavender-100);
        border-color: var(--color-lavender-100);
        color: var(--color-midnightblue);
        padding: .625rem .9375rem;
        cursor: pointer;
        font-weight: 700;
        font-size: .875rem;
        border-radius: var(--br-3xs);
        height: 40px;

        &:hover {
            transition: transform .6s;
            transform: translateY(-.3125rem);
        }
    }
}

main {
    nav {
        box-shadow: 0 .25rem .8125rem rgba(0, 0, 0, 0.05);
        background: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .625rem 3.75rem;
        z-index: 100;
        position: sticky;
        top: 0;
        max-width: 100%;
        font-size: .85rem;
        color: var(--color-midnightblue);
        font-family: var(--font-inter);

        div.left-side {
            display: flex;
            align-items: center;
            gap: 6.25rem;

            a {
                img.nav-logo {
                    height: 1.25rem;
                }
            }

            span.nav-links {
                display: flex;
                align-items: center;
                gap: 3.125rem;

                a {
                    text-decoration: none;
                }
            }
        }

        div.right-side {
            display: flex;
            align-items: center;
            gap: 1.875rem;

            a {
                text-decoration: none;
                color: var(--color-midnightblue);
            }

            a:nth-child(1) {
                font-weight: 600;
            }

            a:nth-child(2) {
                color: var(--color-white);
                padding: 0.912rem 1.937rem 0.962rem;
                background-color: var(--color-midnightblue);
                border-radius: var(--br-3xs);
                font-weight: 600;

                &:hover {
                    transition: transform .6s;
                    transform: translateY(-.3125rem);
                }
            }

            a:nth-child(3) {
                padding: .5rem;
                background: var(--color-lavender-100);
                border-radius: var(--br-81xl);

                img {
                    border-radius: var(--br-8xs);
                }
            }

            a:nth-child(4) {
                text-decoration: none;
                font-size: 1.25rem;
                display: none;
            }
        }
    }

    /* main content */
    section.section {
        padding: 3.125rem 7.5rem;
    }

    section.two-side-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section.the-money-app {
        gap: 3.125rem;

        div.left-side {

            h1 {
                font-weight: 900;
                color: var(--color-midnightblue);
                font-size: 2.625rem;
            }

            p {
                font-size: 1.125rem;
                font-weight: 600;
                width: 60%;
                margin-top: 1.25rem;
            }

            div.store-container {
                margin-top: 1.875rem;
                display: flex;
                align-items: center;
                gap: .625rem;

                a {
                    text-decoration: none;

                    &:hover {
                        transition: transform .6s;
                        transform: translateY(-0.1875rem);
                    }
                }
            }

            div.licensed-container {
                display: flex;
                align-items: center;
                gap: .625rem;
                margin-top: 1.875rem;

                span {
                    display: flex;
                    align-items: center;
                    gap: .625rem;

                    p {
                        font-size: .625rem;
                        color: var(--color-darkgray);
                        width: fit-content;
                        margin: 0;
                    }

                    img {
                        height: 100%;
                    }
                }
            }
        }

        div.right-side {
            div.circle-container {
                width: 100%;

                div.circle {
                    border-radius: 50%;
                    border: .0625rem solid var(--color-lavender-100-light);
                }

                div.large-circle {
                    width: 31.25rem;
                    height: 31.25rem;
                    position: relative;
                }

                div.medium-circle {
                    width: 23.75rem;
                    height: 23.75rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                div.small-circle {
                    width: 17.5rem;
                    height: 17.5rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    img {
                        height: 180%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 10;
                    }
                }

            }
        }
    }

    section.five-cards {

        div.top,
        div.bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;

            div.card {
                box-shadow: 0 0 25px rgba(0, 0, 0, .06);
                background: var(--color-white);
                padding: 1.875rem;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                i {
                    background: var(--color-lavender-100);
                    width: fit-content;
                    padding: .625rem;
                    border-radius: 50%;
                    color: var(--color-midnightblue);
                }
            }
        }

        div.bottom {
            margin-top: 1.25rem;
        }
    }

    /* main content */
}

div.get-app {
    display: none;

    div.wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem;
        background: var(--color-lavender-100-light);
        position: fixed;
        bottom: 0;
        width: 100%;

        span.left {
            display: flex;
            align-items: center;
            gap: 1.25rem;

            img {
                height: 3.75rem;
                border-radius: var(--br-3xs);
                width: auto;
            }

            span.rating {
                p {
                    color: var(--color-midnightblue);
                    font-weight: 800;
                    margin-bottom: .625rem;
                }

                span.stars {
                    color: #FFC83E;
                }
            }
        }

        a.get-app {
            text-decoration: none;
            background: var(--color-midnightblue);
            color: var(--color-white);
            font-weight: 700;
            padding: .9375rem;
            border-radius: var(--br-3xs);
        }
    }
}

/* 8K Screens (6145px and up) */
@media screen and (max-width: 7680px) {
    html {
        font-size: 120px;
    }
}

/* 6K Screens (5121px and up) */
@media screen and (max-width: 6144px) {
    html {
        font-size: 80px;
    }
}

/* 5K Screens (3841px and up) */
@media screen and (max-width: 5120px) {
    html {
        font-size: 65px;
    }
}

/* 4K Screens (2049px and up) */
@media screen and (max-width: 3840px) {
    html {
        font-size: 50px;
    }
}

/* 2K Screens (1401px and up) */
@media screen and (max-width: 2048px) {
    html {
        font-size: 30px;
    }
}

/* Extra large devices (large desktops, 993px and up) */
@media screen and (max-width: 1400px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    html {
        font-size: 16px;
    }

    div.cookie-policy {}

    main {
        nav {
            padding: .625rem 1.875rem;

            div.left-side {
                span.nav-links {
                    display: none;
                }
            }

            div.right-side {

                a:nth-child(1),
                a:nth-child(2) {
                    display: none;
                }

                a:nth-child(4) {
                    display: block;
                }
            }
        }

        section.section {
            padding: 3.125rem 1.25rem;
        }

        section.the-money-app {

            /* gap: 1.875rem; */
            div.left-side {
                p {
                    width: 100%;
                }
            }

            div.right-side {
                div.circle-container {
                    /* width: 80%; */
                    margin: 0 auto;

                    div.small-circle {
                        img {
                            height: 150%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }

    div.cookie-policy {
        /* fixme - at the top */
        position: fixed;
        top: 0;
        width: 100%;
    }

    /* main content */
    main {
        section.section {
            padding: 6.25rem 2.5rem;
        }

        section.the-money-app {
            flex-direction: column;
            gap: 1.875rem;

            div.left-side {

                h1,
                p {
                    text-align: center;
                }

                div.store-container,
                div.licensed-container {
                    justify-content: center;
                }
            }

        }

        section.five-cards {

            div.top,
            div.bottom {
                flex-direction: column;
            }
        }
    }

    /* main content */

    div.get-app {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 14px;
        background: var(--primary-white);
    }
}