@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --sky-blue-bg: #DCFFEB;
    --light-milk-bg: #FFF5DB;
    --nigerian-flag-bg: #eff1ff;


    /* fonts */
    --font-inter: Inter;
    --font-mulish: Mulish;

    /* font sizes */
    --font-size-xs-6: 0.725rem;
    --font-size-sm-3: 0.831rem;
    --font-size-base: 1rem;
    --font-size-sm-6: 0.85rem;
    --font-size-base-6: 0.975rem;
    --font-size-base-5: 0.969rem;
    --font-size-sm: 0.875rem;
    --font-size-base-3: 0.956rem;
    --font-size-sm-9: 0.869rem;
    --font-size-sm-7: 0.856rem;
    --font-size-sm-5: 0.844rem;
    --font-size-base-8: 0.988rem;
    --font-size-sm-8: 0.863rem;
    --font-size-base-4: 0.963rem;
    --font-size-17xl: 2.25rem;
    --font-size-10xl: 1.813rem;
    --font-size-3xl: 1.375rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.188rem;
    --font-size-mini-9: 0.931rem;
    --font-size-base-9: 0.994rem;
    --font-size-9xl: 1.75rem;
    --font-size-2xl: 1.313rem;
    --font-size-smi-9: 0.806rem;
    --font-size-smi: 0.813rem;

    /* Colors */
    --color-white: #fff;
    --color-lavender-100: #dfe3ff;
    --color-lavender-100-light: #eff1ff;
    --color-darkgray: #979797;
    --color-black: #000;
    --color-midnightblue: #40196d;
    --color-gray-100: #fbfbfb;
    --color-gray-200: rgba(255, 255, 255, 0);
    --color-gainsboro: rgba(220, 220, 224, 0.5);

    /* Gaps */
    --gap-61xl: 5rem;
    --gap-21xl: 2.5rem;
    --gap-xl: 1.25rem;
    --gap-mid: 1.062rem;
    --gap-5xl: 1.5rem;
    --gap-mini: 0.937rem;
    --gap-3xs: 0.625rem;
    --gap-6xl: 1.562rem;
    --gap-11xl-4: 1.9rem;
    --gap-mini-3: 0.893rem;
    --gap-36xl: 3.437rem;
    --gap-8xl: 1.687rem;
    --gap-279xl-8: 18.675rem;
    --gap-130xl: 9.312rem;
    --gap-56xl: 4.687rem;

    /* Paddings */
    --padding-5xl: 1.5rem;
    --padding-xl: 1.25rem;
    --padding-11xl: 1.875rem;
    --padding-41xl: 3.75rem;
    --padding-12xs-6: 0.037rem;
    --padding-5xs-4: 0.462rem;
    --padding-mini: 0.937rem;
    --padding-10xs-4: 0.15rem;
    --padding-21xl: 2.5rem;
    --padding-25xl: 2.75rem;
    --padding-20xl: 2.437rem;
    --padding-base-4: 1.025rem;
    --padding-3xl: 1.375rem;
    --padding-6xl: 1.562rem;
    --padding-3xl-1: 1.381rem;
    --padding-7xl: 1.625rem;
    --padding-3xs: 0.625rem;
    --padding-13xl: 2rem;
    --padding-xs: 0.75rem;
    --padding-53xl: 4.5rem;
    --padding-17xl: 2.25rem;
    --padding-9xs: 0.25rem;
    --padding-smi: 0.812rem;
    --padding-11xs-1: 0.068rem;
    --padding-18xl: 2.312rem;
    --padding-31xl: 3.125rem;
    --padding-80xl: 6.187rem;
    --padding-179xl: 12.375rem;
    --padding-base: 1rem;
    --padding-38xl: 3.562rem;
    --padding-68xl-5: 5.468rem;
    --padding-7xs-6: 0.35rem;
    --padding-33xl: 3.25rem;
    --padding-5xs: 0.5rem;
    --padding-2xl-8: 1.362rem;
    --padding-77xl: 6rem;
    --padding-8xs: 0.312rem;
    --padding-6xs: 0.437rem;
    --padding-3xs-4: 0.587rem;
    --padding-3xs-6: 0.6rem;

    /* Border radiuses */
    --br-81xl: 6.25rem;
    --br-8xs: .3125rem;
    --br-3xs: .625rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-size: 20px; */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: "Mulish", sans-serif;
    color: var(--text-color);
    background: var(--primary-white);
}

div.cookie-policy {
    background: #fbfbfb;
    border: .0625rem solid var(--color-lavender-100);
    border-radius: var(--br-3xs);
    padding: .625rem .9375rem;
    box-shadow: 0 0 1.5625rem rgba(0, 0, 0, .06);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem;
    position: fixed;
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);
    width: auto;
    color: #000;
    z-index: 10;

    a {
        color: var(--color-midnightblue);
    }

    button {
        border: none;
        outline: none;
        background-color: var(--color-lavender-100);
        border-color: var(--color-lavender-100);
        color: var(--color-midnightblue);
        padding: .625rem .9375rem;
        cursor: pointer;
        font-weight: 700;
        font-size: .875rem;
        border-radius: var(--br-3xs);
        height: 40px;

        &:hover {
            transition: transform .6s;
            transform: translateY(-.3125rem);
        }
    }
}

main {
    nav {
        box-shadow: 0 .25rem .8125rem rgba(0, 0, 0, 0.05);
        background: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .625rem 3.75rem;
        z-index: 100;
        position: sticky;
        top: 0;
        max-width: 100%;
        font-size: .85rem;
        color: var(--color-midnightblue);
        font-family: var(--font-inter);

        div.left-side {
            display: flex;
            align-items: center;
            gap: 6.25rem;

            a {
                img.nav-logo {
                    height: 1.25rem;
                }
            }

            span.nav-links {
                display: flex;
                align-items: center;
                gap: 3.125rem;

                a {
                    text-decoration: none;
                    color: var(--color-midnightblue);
                }
            }
        }

        div.right-side {
            display: flex;
            align-items: center;
            gap: 1.875rem;

            a {
                text-decoration: none;
                color: var(--color-midnightblue);
            }

            a:nth-child(1) {
                font-weight: 600;
            }

            a:nth-child(2) {
                color: var(--color-white);
                padding: 0.912rem 1.937rem 0.962rem;
                background-color: var(--color-midnightblue);
                border-radius: var(--br-3xs);
                font-weight: 600;

                &:hover {
                    transition: transform .6s;
                    transform: translateY(-.3125rem);
                }
            }

            a:nth-child(3) {
                padding: .5rem;
                background: var(--color-lavender-100);
                border-radius: var(--br-81xl);

                img {
                    border-radius: var(--br-8xs);
                }
            }

            a:nth-child(4) {
                text-decoration: none;
                font-size: 1.25rem;
                display: none;
            }
        }
    }

    /* main content */
    section {
        h3.section-title {
            font-weight: 900;
            color: var(--color-midnightblue);
            font-size: 2rem;
            text-align: center;
        }
    }

    section.section {
        padding: 3.125rem 7.5rem;
    }

    section.two-side-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3.125rem;

        div.left-side,
        div.right-side {
            width: 50%;

            h3 {
                font-weight: 900;
                color: var(--color-midnightblue);
                font-size: 2rem;
                width: 80%;
            }

            p {
                margin-top: 1.25rem;
                font-size: 1rem;
                font-weight: 300;
                width: 80%;
            }

            a {
                margin-top: 1.25rem;
                color: var(--color-midnightblue);
                display: flex;
                align-items: center;
                gap: .3125rem;
                font-size: .875rem;
                font-weight: 700;
                text-decoration: none;

                span {
                    text-decoration: underline;
                }
            }

            img {
                width: 100%;
            }
        }
    }

    section.the-money-app {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3.125rem;

        div.left-side {
            width: 50%;

            h1 {
                font-weight: 900;
                color: var(--color-midnightblue);
                font-size: 2.625rem;
            }

            p {
                font-size: 1.125rem;
                font-weight: 600;
                width: 60%;
                margin-top: 1.25rem;
            }

            div.store-container {
                margin-top: 1.875rem;
                display: flex;
                align-items: center;
                gap: .625rem;

                a {
                    text-decoration: none;

                    &:hover {
                        transition: transform .6s;
                        transform: translateY(-0.1875rem);
                    }
                }
            }

            div.licensed-container {
                display: flex;
                align-items: center;
                gap: .625rem;
                margin-top: 1.875rem;

                span {
                    display: flex;
                    align-items: center;
                    gap: .625rem;

                    p {
                        font-size: .625rem;
                        color: var(--color-darkgray);
                        width: fit-content;
                        margin: 0;
                    }

                    img {
                        height: 1.875rem;
                        width: auto !important;
                    }
                }
            }
        }

        div.right-side {
            width: 50%;

            div.circle-container {
                width: 100%;

                div.circle {
                    border-radius: 50%;
                    /* fixme - change to lavendar-light */
                    border: .0625rem solid var(--color-lavender-100);
                    aspect-ratio: 1 / 1;
                }

                div.large-circle {
                    width: 31.25rem;
                    height: 31.25rem;
                    position: relative;
                }

                div.medium-circle {
                    width: 23.75rem;
                    height: 23.75rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                div.small-circle {
                    width: 17.5rem;
                    height: 17.5rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    img {
                        height: 150%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 10;
                    }
                }

                i {
                    color: var(--color-midnightblue);
                    background: var(--color-lavender-100);
                    padding: .625rem;
                    border-radius: 50%;
                    font-size: .875rem;
                    position: absolute;
                }

                i.fa-sitemap {
                    top: 1.875rem;
                    right: 5rem;
                }
                i.fa-credit-card{
                    top: 1.875rem;
                    left: 5rem;
                }
                i.fa-paper-plane-top{
                    bottom: -1.25rem;
                    left: 50%;
                }
                i.fa-circle-three-quarters{
                    top: 3rem;
                    left: 15rem;
                }
                i.fa-piggy-bank{
                    bottom: 3rem;
                    left: 15rem;
                }
            }
        }
    }

    section.five-cards {

        div.top,
        div.bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;

            div.card {
                box-shadow: 0 0 25px rgba(0, 0, 0, .06);
                background: var(--color-white);
                padding: 1.875rem;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                flex: 1;

                i {
                    background: var(--color-lavender-100);
                    width: fit-content;
                    padding: .625rem;
                    border-radius: 50%;
                    color: var(--color-midnightblue);
                }
            }
        }

        div.bottom {
            margin-top: 1.25rem;
        }
    }

    section.your-phone-plus {}

    section.its-your-money {}

    section.save-money {}

    section.turn-off-access {}

    section.we-are-always-happy {}

    section.fees-as-clear {}

    /* section.testimonial {
        padding: 3.125rem 0;
        overflow: hidden;

        div.testimonial-container {
            display: grid;
            align-items: center;
            gap: 1.25rem;
            width: 300%;
            animation: scroll 50s linear infinite;

            div.card {
                box-shadow: 0 0 25px rgba(0, 0, 0, .06);
                background: var(--color-white);
                padding: 1.875rem;
                font-size: .875rem;
                width: 30vw;

                span {
                    display: flex;
                    align-items: center;
                    gap: .625rem;
                    margin-top: 3.125rem;

                    img {
                        height: 3.125rem;
                        width: auto;
                        border-radius: 50%;
                    }
                }
            }
        }
    } */

    section.testimonial {
        padding: 3.125rem 0;
        overflow: hidden;

        h3 {
            font-weight: 900;
            color: var(--color-midnightblue);
            font-size: 2rem;
            text-align: center;
        }

        div.container {
            display: flex;
            align-items: center;
            gap: 1.25rem;
            margin-top: 3.125rem;

            div.testimonial-container {
                display: flex;
                animation: scroll 50s linear infinite;

                div.card {
                    box-shadow: 0 0 25px rgba(0, 0, 0, .06);
                    background: var(--color-white);
                    padding: 1.875rem;
                    font-size: .875rem;
                    flex: 0 0 auto;
                    margin-right: 1.25rem;
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    span {
                        display: flex;
                        align-items: center;
                        gap: .625rem;
                        margin-top: 3.125rem;

                        img {
                            height: 3.125rem;
                            width: auto;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    section.companies {
        padding: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;

        a {
            text-decoration: none;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0%);

            }
        }
    }

    section.our-partners {
        padding: 3.125rem 9.375rem;
        background: var(--color-gray-100);

        div.container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 3.125rem;
            gap: 1.25rem;

            img {
                &:hover {
                    cursor: pointer;
                    filter: grayscale(100%);
                }
            }
        }
    }

    section.choose-the-freedom {
        table {
            margin-top: 3.125rem;
            width: 100%;
            box-shadow: 0 0 25px rgba(0, 0, 0, .06);
            border-collapse: collapse;
            border: .0625rem solid var(--color-gainsboro);

            thead {
                text-align: left;

                tr {
                    border-bottom: .0625rem solid var(--color-gainsboro);

                    th {
                        padding: 1.25rem 3.75rem;
                        color: var(--color-midnightblue);
                        font-weight: 800;

                        img {
                            height: 1.25rem;
                            width: auto;
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: .625rem 3.75rem;
                        font-size: .875rem;
                    }

                    td:first-child {
                        font-weight: 700;
                    }

                    td:nth-child(2) {
                        display: flex;
                        align-items: center;
                        gap: .625rem;

                        i {
                            background: var(--color-gainsboro);
                            padding: .3125rem;
                            border-radius: 50%;
                            font-size: .625rem;
                        }
                    }

                    td:last-child {
                        i {
                            margin-right: .625rem;
                            background: var(--color-lavender-100);
                            padding: .3125rem;
                            border-radius: 50%;
                            font-size: .625rem;
                        }
                    }
                }

                tr:not(:last-child) {
                    border-bottom: .0625rem solid var(--color-gainsboro);
                }

                tr:last-child {
                    td {
                        padding-bottom: 1.875rem;
                    }
                }
            }
        }
    }

    section.more-for-you {
        div.container {
            margin-top: 3.125rem;
            display: flex;
            justify-content: space-between;
            gap: 1.25rem;

            div.card {
                box-shadow: 0 0 25px rgba(0, 0, 0, .06);
                background: var(--color-white);
                padding: 1.875rem;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                i.top-icon {
                    margin-right: .625rem;
                    background: var(--color-lavender-100);
                    padding: 7px;
                    border-radius: 50%;
                    font-size: 14px;
                    width: fit-content;
                }

                h4 {
                    font-weight: 900;
                    color: var(--color-midnightblue);
                    font-size: 1.375rem;
                }

                a {
                    text-decoration: none;
                    color: var(--color-midnightblue);
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: .3125rem;

                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    section.join-kuda {

        div.container {
            border: .0625rem solid var(--color-gainsboro);
            box-shadow: 0 0 25px rgba(0, 0, 0, .06);
            border-radius: .3125rem;
            width: 100%;
            display: flex;
            align-items: center;
            background: var(--color-lavender-100-light);
            padding: 3.125rem;

            div.left-side {
                a.join-kuda {
                    color: var(--color-white);
                    padding: 0.912rem 3.125rem 0.962rem;
                    background-color: var(--color-midnightblue);
                    border-radius: var(--br-3xs);
                    font-weight: 600;
                    width: fit-content;

                    &:hover {
                        transition: transform .6s;
                        transform: translateY(-.3125rem);
                    }
                }

                div.store-container {
                    display: none;
                }
            }

            div.right-side {
                img {
                    height: 70%;
                    margin: 0 auto;
                }
            }
        }
    }

    /* main content */
}

footer {
    border: .0625rem solid var(--color-gainsboro);
    padding: 3.125rem 7.5rem;

    div.first-part {
        display: flex;
        justify-content: space-between;
        gap: 1.875rem;

        img.footer-logo {
            height: 1.25rem;
            width: auto;
        }

        div.col {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            p,
            a {
                font-size: .875rem;
            }

            p.header {
                color: var(--color-midnightblue);
                font-weight: 800;
            }

            a {
                text-decoration: none;
                color: var(--color-black);
            }
        }
    }

    div.second-part {
        margin-top: 3.125rem;

        div.store-container {
            display: flex;
            align-items: center;
            gap: .625rem;

            img {
                width: 100%;
            }
        }

        p {
            margin-top: 1.25rem;
            text-align: center;
            font-size: .875rem;
            color: var(--color-darkgray);
        }
    }

    div.third-part {
        margin-top: 3.125rem;
        display: flex;
        justify-content: space-between;
        gap: 1.875rem;

        div.col {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            p,
            a {
                font-size: .875rem;
            }

            p.header,
            a {
                color: var(--color-midnightblue);
                font-weight: 800;
            }
        }

        div.col:first-child {
            div.social {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1.25rem;

                a {
                    text-decoration: none;

                    i {
                        border: .0625rem solid var(--color-gainsboro);
                        padding: .3125rem;
                        border-radius: 50%;
                        background: var(--color-lavender-100);
                    }
                }
            }
        }
    }

    div.forth-part {
        margin-top: 3.125rem;

        p {
            margin-top: 1.25rem;
            font-size: .875rem;
            color: var(--color-darkgray);
        }
    }
}

div.get-app {
    display: none;

    div.wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem;
        background: var(--color-lavender-100-light);
        position: fixed;
        bottom: 0;
        width: 100%;

        span.left {
            display: flex;
            align-items: center;
            gap: 1.25rem;

            img {
                height: 3.75rem;
                border-radius: var(--br-3xs);
                width: auto;
            }

            span.rating {
                p {
                    color: var(--color-midnightblue);
                    font-weight: 800;
                    margin-bottom: .625rem;
                }

                span.stars {
                    color: #FFC83E;
                }
            }
        }

        a.get-app {
            text-decoration: none;
            background: var(--color-midnightblue);
            color: var(--color-white);
            font-weight: 700;
            padding: .9375rem;
            border-radius: var(--br-3xs);
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* 8K Screens (6145px and up) */
@media screen and (max-width: 7680px) {
    html {
        font-size: 120px;
    }
}

/* 6K Screens (5121px and up) */
@media screen and (max-width: 6144px) {
    html {
        font-size: 80px;
    }
}

/* 5K Screens (3841px and up) */
@media screen and (max-width: 5120px) {
    html {
        font-size: 65px;
    }
}

/* 4K Screens (2049px and up) */
@media screen and (max-width: 3840px) {
    html {
        font-size: 50px;
    }
}

/* 2K Screens (1401px and up) */
@media screen and (max-width: 2048px) {
    html {
        font-size: 30px;
    }
}

/* Extra large devices (large desktops, 993px and up) */
@media screen and (max-width: 1400px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    html {
        font-size: 16px;
    }

    div.cookie-policy {}

    main {
        nav {
            padding: .625rem 1.875rem;

            div.left-side {
                span.nav-links {
                    display: none;
                }
            }

            div.right-side {

                a:nth-child(1),
                a:nth-child(2) {
                    display: none;
                }

                a:nth-child(4) {
                    display: block;
                }
            }
        }

        section.section {
            padding: 3.125rem 1.25rem;
        }

        section.two-side-section {

            div.left-side,
            div.right-side {
                width: 100%;
                text-align: center;

                h3 {
                    /* width: 60%; */
                    margin: 0 auto;
                }

                p {
                    /* width: 60%; */
                    margin: 1.25rem auto 0;
                }

                a {
                    margin: 1.25rem auto 0;
                    width: fit-content;
                    text-align: center;
                }
            }
        }

        section.the-money-app {
            padding-top: 12.5rem;
            display: flex;
            gap: 1.875rem;

            div.left-side {
                width: 100%;

                p {
                    width: 100%;
                }
            }

            div.right-side {
                div.circle-container {

                    div.large-circle {
                        width: 90%;
                        height: 90%;
                        margin: 3.125rem auto;
                        /* aspect-ratio: 1 / 1; */
                    }

                    div.medium-circle {}

                    div.small-circle {
                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }

        section.your-phone-plus {
            flex-direction: column;

            div.left-side {
                text-align: center;
            }
        }

        section.its-your-money {
            flex-direction: column-reverse;
        }

        section.save-money {
            flex-direction: column;
        }

        section.turn-off-access {
            flex-direction: column-reverse;
        }

        section.we-are-always-happy {
            flex-direction: column;
        }

        section.fees-as-clear {
            flex-direction: column-reverse;
        }

        section.companies {
            padding: 1.25rem 5rem;
            justify-content: center;

            a {
                img {
                    width: 70%;
                }

                /* padding: 1.875rem; */
            }
        }

        section.our-partners {
            div.container {
                padding: 3.125rem;

                img {
                    /* width: 70%; */
                }
            }
        }

        section.choose-the-freedom {
            table {
                /* width: 100%; */
            }
        }

        section.join-kuda {
            div.left-side {
                h3 {
                    width: 50%;
                }
            }

            div.right-side {
                display: none;
            }
        }
    }

    footer {
        padding: 3.125rem 1.25rem;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }

    div.cookie-policy {
        position: fixed;
        top: 0;
        height: fit-content;
        width: 100%;
        border-radius: unset;
        /* box-shadow: unset; */
        border: unset;
    }

    /* main content */
    main {
        /* position: relative;
        top: 4.375rem; */

        nav {
            position: fixed;
            top: 3.875rem;
            width: 100%;
        }

        section {
            h3.section-title {
                padding: 0 1.25rem;
            }
        }

        section.section {
            padding: 0 2.5rem 6.25rem;
        }

        section.two-side-section {

            div.left-side,
            div.right-side {

                text-align: center;

                h3,
                p {
                    width: 100%;
                }

                a {
                    width: fit-content;
                }

                img {
                    width: 100%;
                }
            }
        }

        section.the-money-app {
            flex-direction: column;
            gap: 1.875rem;
            padding-top: 12.5rem;

            div.left-side {

                h1,
                p {
                    text-align: center;
                }

                div.store-container,
                div.licensed-container {
                    justify-content: center;
                }
            }

        }

        section.five-cards {

            div.top,
            div.bottom {
                flex-direction: column;

                div.card {
                    flex-direction: row;
                    align-items: center;
                }
            }
        }

        section.your-phone-plus {
            flex-direction: column;
        }

        section.testimonial {}

        section.companies {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        section.our-partners {
            div.container {
                margin-top: unset;

                display: grid;
                grid-template-columns: repeat(2, 1fr);

                img {
                    width: 80%;
                }
            }
        }

        section.more-for-you {
            div.container {
                flex-direction: column;
            }
        }

        section.join-kuda {
            div.left-side {
                a.join-kuda {
                    display: none;
                }

                div.store-container {
                    display: flex !important;
                    gap: .625rem;
                }
            }

            div.right-side {
                display: none;
            }
        }
    }

    /* main content */

    footer {
        div.first-part {
            position: relative;
            top: 4.375rem;
            flex-wrap: wrap;

            img.footer-logo {
                position: absolute;
                top: -4.375rem
            }
        }

        div.second-part {
            margin-top: 9.375rem;
        }

        div.third-part {
            flex-wrap: wrap;

            p:nth-child(2) {
                width: 50%;
            }
        }

        div.forth-part {
            padding-bottom: 6.25rem;
        }
    }

    div.get-app {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 14px;
        background: var(--primary-white);
    }
}